# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs and temporary files
*.log
*.tmp
